.body{
    background-color: darkblue;
}
.container{
    justify-content: center;
    display: flex;
}
.image{
    width:20%;
    margin-top: 16px;
    border-radius: 10px;
}
.h1{
color: white;
text-align: center;
font-family:'Shadows Into Light', cursive;
}



/*
.body{
    background-color: darkblue;
    color: white;
    text-align: center;
}*/





